<script>
import chroma from "chroma-js";
import { arrayToPalette } from "@/utils";
import Page from "@/components/Page.vue";

export default {
  name: "DarkOklch",
  components: {
    Page,
  },
  computed: {
    tokens() {
      const colorArray = (scale, mode = "oklch") =>
        chroma.scale(scale).mode(mode).colors(11);

      return {
        blue: arrayToPalette(colorArray(["#002850", "#1E74CB", "#e9f3fc"])),
        gray: arrayToPalette(colorArray(["#171321", "#737278", "#ececef"])),
        green: arrayToPalette(colorArray(["#072b15", "#108548", "#ecf4ee"])),
        orange: arrayToPalette(colorArray(["#421f00", "#ab6100", "#fdf1dd"])),
        purple: arrayToPalette(colorArray(["#232150", "#7b58cf", "#f4f0ff"])),
        red: arrayToPalette(colorArray(["#4d0a00", "#dd2b0e", "#fcf1ef"])),
      };
    },
  },
};
</script>

<template>
  <Page v-bind:tokens="tokens" />
</template>
