<script>
import Page from "@/components/Page.vue";
import tokens from "@/tokens/color.tokens.json";

export default {
  name: "Light",
  components: {
    Page,
  },
  computed: {
    tokens() {
      return {
        blue: tokens.blue,
        gray: tokens.gray,
        green: tokens.green,
        orange: tokens.orange,
        purple: tokens.purple,
        red: tokens.red,
      };
    },
  },
};
</script>

<template>
  <Page v-bind:tokens="tokens" />
</template>
