<script>
import chroma from "chroma-js";
import { arrayToPalette } from "@/utils";
import Page from "@/components/Page.vue";

export default {
  name: "LightOklch",
  components: {
    Page,
  },
  computed: {
    tokens() {
      const colorArray = (scale, mode = "oklch") =>
        chroma.scale(scale).mode(mode).colors(11);

      return {
        blue: arrayToPalette(colorArray(["#e9f3fc", "#1E74CB", "#002850"])),
        gray: arrayToPalette(colorArray(["#ececef", "#737278", "#171321"])),
        green: arrayToPalette(colorArray(["#ecf4ee", "#108548", "#072b15"])),
        orange: arrayToPalette(colorArray(["#fdf1dd", "#ab6100", "#421f00"])),
        purple: arrayToPalette(colorArray(["#f4f0ff", "#7b58cf", "#232150"])),
        red: arrayToPalette(colorArray(["#fcf1ef", "#dd2b0e", "#4d0a00"])),
      };
    },
  },
};
</script>

<template>
  <Page v-bind:tokens="tokens" />
</template>
