<script>
import chroma from "chroma-js";
import tokens from "../tokens/color.tokens.json";

export default {
  name: "Contrast",
  props: {
    value: {
      type: String,
      required: true,
    },
    styled: {
      type: Boolean,
      default: true,
    },
    versus: {
      type: String,
      required: true,
    },
  },
  computed: {
    background() {
      if (this.contrast >= 7) {
        return tokens.green["200"].$value;
      } else if (this.contrast >= 4.5) {
        return tokens.orange["200"].$value;
      } else {
        return tokens.red["200"].$value;
      }
    },
    color() {
      if (this.contrast >= 7) {
        return tokens.green["800"].$value;
      } else if (this.contrast >= 4.5) {
        return tokens.orange["800"].$value;
      } else {
        return tokens.red["800"].$value;
      }
    },
    contrast() {
      const ratio = chroma.contrast(this.value, this.versus);
      return ratio.toFixed(2);
    },
    style() {
      return this.styled
        ? `background: ${this.background}; color: ${this.color}`
        : "";
    },
  },
};
</script>

<template>
  <span class="contrast" v-bind:style="style">
    {{ contrast }}
  </span>
</template>
