<script>
import Palette from "@/components/Palette.vue";
import Section from "@/components/Section.vue";
import Swatches from "@/components/Swatches.vue";

export default {
  name: "Page",
  components: {
    Palette,
    Section,
    Swatches,
  },
  props: {
    tokens: {
      type: Object,
      required: true,
    },
  },
};
</script>

<template>
  <Section title="Swatches">
    <Swatches v-bind:palettes="tokens" />
  </Section>
  <Section title="Palettes">
    <Palette
      v-for="(palette, name) in tokens"
      v-bind:key="name"
      v-bind:name="name"
      v-bind:palette="palette"
    />
  </Section>
</template>
