<script>
import chroma from "chroma-js";
import tokens from "../tokens/color.tokens.json";
import Contrast from "./Contrast.vue";
import Sample from "./Sample.vue";
import Swatch from "./Swatch.vue";

export default {
  name: "PaletteItem",
  components: {
    Contrast,
    Sample,
    Swatch,
  },
  props: {
    scale: {
      type: String,
      required: true,
    },
    paletteName: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
  },
  computed: {
    dark() {
      return tokens.gray["950"].$value;
    },
    conversions() {
      return {
        hex: chroma(this.value).hex(),
        oklch: chroma(this.value).css("oklch"),
        hsl: chroma(this.value).css("hsl"),
        rgb: chroma(this.value).css("rgb"),
      };
    },
    name() {
      return `${this.paletteName}-${this.scale}`;
    },
  },
};
</script>

<template>
  <tr>
    <th>
      <Swatch
        v-bind:color="value"
        v-bind:palette-name="paletteName"
        v-bind:scale="scale"
      />
    </th>
    <td v-for="conversion in conversions">
      <code>
        {{ conversion }}
      </code>
    </td>
    <td>
      <Sample :background="dark" v-bind:color="value" />
      <Contrast v-bind:value="value" :versus="dark" />
    </td>
    <td>
      <Sample background="white" v-bind:color="value" />
      <Contrast v-bind:value="value" versus="white" />
    </td>
  </tr>
</template>
