<script>
import { RouterLink } from "vue-router";

export default {
  name: "App",
  components: {
    RouterLink,
  },
};
</script>

<template>
  <main>
    <h1>Colors</h1>
    <nav>
      <ul>
        <li><RouterLink to="/">Light</RouterLink></li>
        <li><RouterLink to="/light-oklch">Light (oklch)</RouterLink></li>
        <li><RouterLink to="/dark">Dark</RouterLink></li>
        <li><RouterLink to="/dark-oklch">Dark (oklch)</RouterLink></li>
      </ul>
    </nav>
    <RouterView :key="$route.fullPath" />
  </main>
</template>
