/**
 * Reset
 */
 *,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;
  max-width: 82rem;
}

/**
 * Nav
 */
nav {
  margin-bottom: 1rem;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  flex-grow: 1;
  text-align: center;
}

nav > ul > li > a {
  display: block;
  color: inherit;
}

/**
 * Typography
 */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  margin-bottom: 0.5em;
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 800;
}

h2 {
  margin-bottom: 1em;
  margin-top: 1.5em;
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  font-size: 1rem;
  font-weight: 600;
}

h4 {
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 0.875rem;
  font-weight: 600;
}

h1:first-child, 
h2:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child  {
  margin-top: 0;
}

strong {
  font-weight: 700;
}

a.anchor-link {
  opacity: 0;
  color: currentColor;
  text-decoration: none;
}

a.anchor-link:focus,
a.anchor-link:hover {
  opacity: 1;
}

/**
 * Table
 */
table {
  border-color: transparent;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  font-variant: tabular-nums;
  padding: 0.125em 0.25rem;
  text-align: left;
}

/**
 * Section
 */
section {
  margin-bottom: 2rem;
}

section:last-child {
  margin-bottom: 0;
}

/**
 * Swatch
 */
.swatches {
  display: flex;
  gap: 0.25rem;
}

.swatches > li {
  flex-basis: 1px;
  flex-grow: 1;
  flex-shrink: 1;
}

.swatches > li > ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.swatch {
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.75rem 0.5rem;
}

.swatch h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.swatch p {
  line-height: 1;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.swatch p:first-child {
  margin-top: 0;
}

.swatch p:last-child {
  margin-bottom: 0;
}

.swatch code {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: 0.625rem;
}

/**
 * Contrast / Sample
 */
.contrast,
.sample {
  border-radius: 0.25em;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25em 0.5em;
}

.sample {
  margin-right: 0.5em;
}
